<nav-menu></nav-menu>
<div class="container">
  <div class="col-md-9 col-md-offset-2">
    <ul class="list-group">
      <li ng-repeat="group in groups" class="list-group-item">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <a href="#/group/{{group.gid}}"><img ng-src="{{group.photo_big}}" class="img-thumbnail logo-img"></a>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8 description">
            <a href="#/group/{{group.gid}}">{{group.name}}</a>
            <p href="#/group/{{group.gid}}">Group type: {{group.type}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--pre>{{ groups | json}}</pre-->