/* app css stylesheet */

body {
	padding-top: 20px;
	width: 100%;
}

.list-group .list-group-item:nth-child(even) {
	background-color: #D9EDF7;
}
.logo-img {
	min-width: 50px;
	width: 200px;
	height: auto;
}
.description {
	padding-top: 2%;
}
.search {
	padding-left: 0;
}
.container-list {
	width: 70%;
	margin: 0 auto;
}
.post-media {
	max-width: 90%;
	max-height: 400px;
	display: block;
	margin: 0 auto;
}
.post-description {
	width: 90%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: justify;
}
.post-video {
	cursor: pointer;
}