<div class="container">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{ group.name }}</h3>
	  </div>
	</div>
	<div class="container-list">
		<ul class="list-group">
			<li ng-repeat="post in posts" class="list-group-item">
				<div ng-click="fetchVideo(post.attachment.video.vid, post.attachment.video.owner_id)" ng-if="post.attachment.video" class='post-video'>
					<img ng-src="{{ post.attachment.video.image_xbig || post.attachment.video.image }}" class="post-media">
				</div>
				<img ng-src="{{ post.attachment.photo.src_big }}" class="post-media"
					ng-if="post.attachment.photo">
				<a ng-href="{{ post.attachment.doc.url }}" target="_blank" ng-if="post.attachment.doc">
					<img ng-src="{{ post.attachment.doc.thumb }}" class="post-media">
				</a>
				<p class="post-description">{{ post.text | htmlToPlaintext }}</p>
				<button type="button" ng-click="removePost(post.id, post.from_id, $index)" class="btn btn-primary btn-xs">
	  				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</li>
		</ul>
	</div>
</div>
<!--pre>{{ posts | json }}</pre-->