<nav class="navbar navbar-default">
      <div class="container">
      <div class="col-md-9 col-md-offset-2">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-tg">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-tg">
          <form class="navbar-form navbar-left search" ng-show="loggedIn">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search..." ng-model="query">
            </div>
              <span>
                <button class="btn btn-primary" type="button" ng-click="getGroups(query)">Start</button>
              </span>
          </form>
          <form class="navbar-form navbar-right" id="login-form">
            <button ng-click="logout()" ng-show="loggedIn" class="btn btn-success">Log Out</button>
            <button ng-click="login()" ng-hide="loggedIn" class="btn btn-success">Log In</button>
          </form>
        </div>
        </div>
      </div>
</nav>